.hero
  position: relative
  display: flex  // стало текст по центру, не двигается от зименение окна
  justify-content: center 
  align-items: flex-start
  flex-direction: column
  padding-top: 100px //c под шапки убираем картинку, padding
  background: $dark url('../img/hero-bg.jpg')  no-repeat center / cover
  height: 100vh  // тобы ровнялась всему экрану, 100%, если вдруг не загрузиться img то текст не будет видно
  color: $light
  &__content
    max-width: 670px //чтобы перенеслиь на новую строчку 
  &__text
    font-size: 22px
    max-width: 500px
  &__button
    margin-right: 20px
  &__instagram
    position: absolute
    max-width: 80px
    height: 100%
    left: 0
    top: 0
    max-width: 80px
    height: 100%
  &__scroll-down
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    left: 0
    bottom: 0
    min-width: 247px
    min-height: 97px
    background-color: $dark
    text-transform: uppercase
    color: $light
    text-decoration: none
.instagram
  background-color: $dark
  display: flex
  justify-content: center
  align-items: center
  &__link
    text-transform: uppercase
    text-decoration: none
    color: $primary
    // переварачиваем, добавить для этого inline-block, пробовать разные углы
    // витоге с flex лучше получилось
    transform: rotate(-90deg)  
.title
  margin: 0
  font-family: 'Yeseva One' , cursive
  text-transform: uppercase
  font-size: 40px
  &--primary
    color: $primary
