*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px

body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem

img 
  max-width: 100% 

.section
  &--dark
    padding: 2.57rem 0px 0rem 0px
    background-color: $dark
    color: $light
  &-title 
    text-align: center
    text-transform: uppercase
    font-family: 'Yeseva One', cursive  
    &__text
      font-size: 1.28rem
      line-height: 2.07rem
      max-width: 31.57rem
      font-family: Futura Book
      font-weight: normal 
      text-transform: none 
    &--left
      text-align: left
    &--light
      color: $light
    &__heading
      font-family: 'Yeseva One', cursive
      text-transform: uppercase
      line-height: 138%
      &--primary
        color: $primary
    &__word
      display: flex
      align-items: center
      &::after
        content: ''
        width: 90px
        height: 2px
        background-color: $primary
        margin-left: 2.5rem 
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::before, &::after
        content: ''
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px
        color: $secondary

